# Your final report should include each of the following:

In [15]:
import pandas as pd
import numpy as np

jason_path = "HeroesOfPymoli/purchase_data.json"

orginal_df = pd.read_json(jason_path)

In [16]:
#Total Number of Players
Total_numbers_of_players = {}

Total_numbers_of_players['Total Players'] = orginal_df['SN'].nunique()
pd.DataFrame(data=Total_numbers_of_players,index=[0])

   Total Players
0            573

# Purchasing Analysis (Total)
Needs Formating in table

In [17]:
#Holds Numbers
purchasing_analysis = {}

#Pulling the Data from orginal_df
purchasing_analysis['Number of Unique Items'] = orginal_df['Item Name'].nunique()
purchasing_analysis['Average Price']=orginal_df["Price"].mean()
purchasing_analysis['Number of Purchases']=orginal_df["Item ID"].count()
purchasing_analysis['Total Revenue']=orginal_df["Price"].sum()

#Combines Data into a Dataframe
purchasing_analysis_df=pd.DataFrame(data=purchasing_analysis,index=[0])

#Formats the Output for Readablity
purchasing_analysis_df=purchasing_analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
purchasing_analysis_df.style.format({'Total Revenue':'${:.2f}','Average Price':'${:.2f}'})

# Gender Demographics
Needs Formating in table

In [18]:
gender_count = orginal_df.groupby(['Gender'])
gender_count_df = gender_count[["SN"]].nunique()
gender_count_df['Percentage of Players'] = gender_count["SN"].nunique()/gender_count_df['SN'].sum()

#Format Table
gender_count_df = gender_count_df.rename(columns={"SN": "Total Count"})
gender_count_df.style.format({'Percentage of Players':'{:.2%}'})

In [19]:
gender_analysis = {}
gender_analysis['Average Purchase Price'] = gender_count["Price"].mean()
gender_analysis['Total Purchase Value'] = gender_count["Price"].sum()
gender_analysis['Purchase Count'] = gender_count["Price"].count()
gender_analysis['Normalized Totals'] = gender_count["Price"].sum()/gender_count["SN"].nunique()
pd.DataFrame(data=gender_analysis).style.format({'Normalized Totals':'${:,.2f}','Total Purchase Value':'${:,.2f}',\
                                                'Average Purchase Price':'${:,.2f}'})

# **Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [20]:
#age_demographics = orginal_df.groupby(['Age']).nunique()
#age_demographics['SN'].sum()

In [21]:
age_demographics = orginal_df[['Age','SN','Price']]
bins = [0, 10, 14, 19, 24, 29, 34, 39, 999]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29','30-34','35-39','40+']
age_demographics=age_demographics.reset_index(drop=True)
age_demographics['Catagory']=pd.cut(age_demographics['Age'], bins, labels=group_names)
age_catagory_df = age_demographics.groupby(['Catagory']).nunique()
age_total_p_df = age_demographics.groupby(['Catagory']).count()

age_price_df = age_demographics.groupby(['Catagory']).sum()
total_number = age_catagory_df['SN'].sum()
age_catagory_df2 = age_total_p_df[['SN']]
age_catagory_df2=age_catagory_df2.reset_index()
age_price_df = age_price_df.reset_index()

catagory_demographics_df = age_catagory_df
catagory_demographics_df = catagory_demographics_df.drop(columns=['Catagory','Age'])

#purchase count by catagory needs renaming
catagory_demographics_df = catagory_demographics_df.reset_index()
catagory_demographics_df['Percentage of Players'] = catagory_demographics_df['SN']/total_number
catagory_demographics_df = catagory_demographics_df[['Catagory','SN','Percentage of Players']].set_index('Catagory')
catagory_final_df = catagory_demographics_df.rename(columns={'SN':'Total Count'})
catagory_demographics_df = catagory_demographics_df.reset_index()
catagory_final_df.style.format({'Percentage of Players':'{:.2%}'})

In [22]:
age_price_df['Average Spent'] =  age_price_df['Price']/catagory_demographics_df['SN']
age_price_df['Normalized Totals'] = age_price_df['Price']/age_catagory_df2["SN"]
age_price_df['Purchase Count'] = age_catagory_df2["SN"]
age_display = age_price_df[['Catagory','Purchase Count','Average Spent','Price','Normalized Totals']]

age_display = age_display.rename(columns={'Price':'Total Purchase Value'})
age_display = age_display.set_index(['Catagory']).style.format({'Normalized Totals':'${:,.2f}','Total Purchase Value':'${:,.2f}',\
                            'Average Purchase Price':'${:,.2f}','Average Spent':'${:,.2f}'})
age_display

# **Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [23]:

spenders_count_df = orginal_df.groupby(['SN']).count().reset_index()
spenders_count_df=spenders_count_df.drop(columns=['Age','Gender','Item ID','Price'])
spenders_value_df = orginal_df.groupby(['SN']).sum().reset_index()
spenders_value_df=spenders_value_df.drop(columns=['Age','Item ID'])
spenders_mean_df = orginal_df.groupby(['SN']).mean().reset_index()
spenders_mean_df=spenders_mean_df.drop(columns=['Age','Item ID'])

spenders_final_df = spenders_count_df
spenders_final_df['Total Purchase Value'] = spenders_value_df['Price']
spenders_final_df['Average Purchase Price'] = spenders_mean_df['Price']

spenders_format_df = spenders_final_df.sort_values(by=['Total Purchase Value'], ascending=False).head()
spenders_format_df=spenders_format_df.rename(columns={'Item Name':'Purchase Count'})
some_df = spenders_format_df[['SN','Purchase Count','Average Purchase Price','Total Purchase Value']]
some_df = some_df.set_index(['SN']).style.format({'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'})
some_df

In [24]:
item_count_df = orginal_df.groupby(['Item Name']).count().reset_index()
#Purchase Count
item_count_df=item_count_df.drop(columns=['Age','Gender','Item ID','SN'])
#item_count_df.head()

In [25]:
item_price_df = orginal_df.groupby(['Item Name']).mean().reset_index()

item_price_df = item_price_df.drop(columns=['Age','Item ID'])
#item_price_df.head()
#Average Price

In [26]:
item_value_df = orginal_df.groupby(['Item Name']).sum().reset_index()
item_value_df=item_value_df.drop(columns=['Age','Item ID'])
#item_value_df.head()

In [27]:
final_df = item_count_df
final_df['Item Price'] = item_price_df['Price']
final_df['Total Purchase Value'] = item_value_df['Price']
final_df.sort_values(by=['Price'], ascending=False).head().style.format({'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'})

In [28]:
final_df.sort_values(by=['Total Purchase Value'], ascending=False).head().head().style.format({'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'})